.main-products {
  &__title {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.25px;
    color: #000000;
    margin: 33px 0;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 65px;
    grid-column-gap: 35px;
  }
}
.product {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  img {
    margin-bottom: 11px;
  }
  h4 {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.2;
  }
  
  &-categories {
    width: 100%;
    padding: 7px 6px;
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    margin: 22px 0 17px;
    
    &__type {
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;
      
      li {
        flex: 1 1 131px;
        height: 32px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.30);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.21px;
        
        &.active {
          background: #ffffff;
        }
      }
    }
  }
  &-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-price {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.33px;
  }
  &-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 9px 14px;
    outline: none;
    background: #ffffff;
    border: 1px solid #EB5A1E;
    border-radius: 30px;
    color: #EB5A1E;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      background: #EB5A1E;
      color: #ffffff;
      $btnHover: &;
      span {
        background: #ffffff;
        color: #EB5A1E;
      }
    }
    
    span {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #EB5A1E;
      font-size: 13px;
      font-weight: 700;
      color: #ffffff;
    }
  }
}